@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.body {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #3b4aed;
    height: 90vh;
    height: device-height;
    color: whitesmoke;
}

.titleH1 {
    text-align: center;
}

.paragraph {
    text-align: center;
}

.link {
    color: #eee4e4;
    text-decoration: none;
    border: 1px solid red;
    border-radius: 4px;
    cursor: pointer;
    font-size: calc(25px + (50 - 25) * ((100vw - 300px) / (1600 - 300)));
    transition: all .3s;
}

.link:hover {
    color: #e45213;
}

.code {
    font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
    color: #7befce;
    white-space: pre;
    line-height: 20px;
}


/*****************************                                          ***********/
/*****************************        @media (max-width: 768px)         ***********/
/*****************************                                          ***********/
/*****************************                                          ***********/

@media (max-width: 768px) {
    .code {
        font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300)));
    }
}


/*****************************                                          ***********/
/*****************************        @media (max-width: 767px)         ***********/
/*****************************                                          ***********/
/*****************************                                          ***********/

@media (max-width: 767px) {
    .code {
        margin: 0 0 0 -8vw;
        font-size: calc(13px + (25 - 13) * ((100vw - 300px) / (1600 - 300)));
    }
}


/*****************************                                          ***********/
/*****************************        @media (max-width: 426px)         ***********/
/*****************************                                          ***********/
/*****************************                                          ***********/

@media (max-width: 426px) {
    .code {
        margin: 0 0 0 -10vw;
        font-size: calc(13px + (25 - 13) * ((100vw - 300px) / (1600 - 300)));
    }
}


/*****************************                                          ***********/
/*****************************        @media (max-width: 376px)         ***********/
/*****************************                                          ***********/
/*****************************                                          ***********/

@media (max-width: 376px) {
    .code {
        margin: 0 0 0 -13vw;
        font-size: calc(13px + (25 - 13) * ((100vw - 300px) / (1600 - 300)));
    }
}


/*****************************                                          ***********/
/*****************************        @media (max-width: 321px)         ***********/
/*****************************                                          ***********/
/*****************************                                          ***********/

@media (max-width: 321px) {
    .code {
        margin: 0 0 0 -15vw;
        font-size: calc(13px + (25 - 13) * ((100vw - 300px) / (1600 - 300)));
    }
}